---
import Footer from "../Footer.astro";
import Header from "../Header/Header.astro";
import RouteTransitions from "./RouteTransitions.astro";
import { darkPalette, lightPalette, basePalette } from "../../utils/theme";
import "./MarkdownStyles.scss";
import Comments from "../Comments.astro";
import ArticleHeading from "../ArticleHeading.astro";

export interface Props {
  title?: string;
  frontmatter?: any;
}

const isBlogPost = /^\/blog\/([a-zA-Z]|-|\d)+\/?$/.test(Astro.url.pathname);
const title = Astro.props.title ?? Astro.props.frontmatter.title;
const { date, minutesRead, categories } = isBlogPost
  ? Astro.props.frontmatter
  : { date: "", minutesRead: "", categories: [] };
const now = new Date().toUTCString();

const prefixedLightPalette = Object.entries(lightPalette).reduce((map, [key, value]) => {
  map["light-" + key] = value;
  return map;
}, {} as Record<string, string>);

const palette = {
  ...darkPalette,
  ...basePalette,
  ...prefixedLightPalette
};
---
<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta name="turbo-cache-control" content="no-cache">
    <meta name="buildtime" content={now} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="turbo-body" content="main" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <title>{!!title ? title + " | standel.io" : "standel.io"}</title>
    <RouteTransitions />
  </head>
  <body>
    <Header />
    <main id="main">
      {isBlogPost && (
        <ArticleHeading 
          title={title}
          date={date}
          readingTime={minutesRead}
          categories={categories}
        />
      )}
      <slot />
      {isBlogPost && <Comments />}
    </main>
    <Footer />
  </body>
</html>
<style lang="scss" is:global define:vars={palette}>
  @import url(
    "https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap"
  );

  html {
    font-family: 'Poppins', sans-serif;

    --palette-primary: var(--primary);
    --palette-secondary: var(--secondary);
    color-scheme: var(--palette-colorScheme);

    @mixin dark {
      --palette-colorScheme: var(--colorScheme);
      --palette-bgMain: var(--bgMain);
      --palette-bgCard: var(--bgCard);
      --palette-txtMain: var(--txtMain);
      --palette-txtHeavy: var(--txtHeavy);
      --palette-txtDim: var(--txtDim);
      --icon-filter: invert(1);
    }

    @mixin light {
      --palette-colorScheme: var(--light-colorScheme);
      --palette-bgMain: var(--light-bgMain);
      --palette-bgCard: var(--light-bgCard);
      --palette-txtMain: var(--light-txtMain);
      --palette-txtHeavy: var(--light-txtHeavy);
      --palette-txtDim: var(--light-txtDim);
      --icon-filter: invert(0);
    }
    &.dark-themeMode {
      @include dark;
    }

    @media (prefers-color-scheme: dark) {
      @include dark;
    }

    &.light-themeMode {
      @include light;
    }

    @media (prefers-color-scheme: light) {
      @include light;
    }
  }
  body {
    background: var(--palette-bgMain);
    color: var(--palette-txtMain);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    // jumpy header between pages drives me bonkers
    overflow-y: scroll;
    overflow-x: clip;

    > main {
      flex-grow: 1;
      width: 100%;
      max-width: min(650px, calc(100% - 50px));
      display: flex;
      flex-direction: column;
    }
  }

  @keyframes fadeIn {
    0% {
      transform: translate(-25px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fadeBack {
    0% {
      transform: translate(25px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .turbo-progress-bar {
    height: 5px;
    background: linear-gradient(
      to right,
      var(--palette-primary),
      var(--palette-secondary)
    )
  }

  astro-slot, astro-island {
    // this should be default but it goes missing at weird times
    // probably an issue between Astro & Turbo Drive
    display: contents !important;
  }
</style>
